@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Noto+Sans+KR:wght@300&display=swap');


.wrapper {
    display: grid;
    height: 100vh; /*vh는 브라우저 크기*/
    grid-template-rows: 325px 1fr 1fr; /*행 높이 비율*/
    grid-template-columns: 350px 1fr;
    grid-template-rows: 325px 1fr 1fr; /*행 높이 비율*/
    grid-template-columns: 350px 1fr;
    grid-template-areas: 
    "left head"
    "left right"
    "left right";
}

.header {
    display: flex;
    grid-area: head;
    
    margin: 0 auto;
}

.left {
    display:grid;
    grid-area: left;
    background-color: rgb(249, 222, 222);
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "log"
    "block"
}

.right {
    display: flex;
    grid-area: right;
    background-color: lightcyan;
}

.login {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 25px 10px 20px;
    padding: 5px 15px;
    background-color: rgb(248, 248, 248);
    width: 300px;
    height: 280px;
    text-align:left;
}

.login-label {
    display: block;
    margin: 0 0 -5px;
    color: gray;
    font-size: 13px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: .2em;
}

.login-form {
    outline: none;
    display: block;
    background: rgb(0, 0, 0, 0.1);
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    width: 100%;
    height: 3rem;
    font-weight: 500;
}

.login-submit {
    outline: none;
    display: block;
    background: #757575;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    width: 100%;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.block_item {
    display: flex;
    grid-area: block;
    flex-direction: column;
    justify-content: flex-start;

}

.block {
    display: flex;
    background-color: bisque;
    margin: 10px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.right div{
    display: inline-block;
    width: 900px;
    height: 700px;
    margin: 70px;
    border-radius: 80px / 80px;
    background-color: rgba(252, 253, 255, 0.904);
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.kongji li{    
    margin: 40px;
    font-size: 30px;
}

.kongji h1{
    text-align: center;
}
