.wrapper{
    display: grid;
    height: 100vh; /*vh는 브라우저 크기*/
    grid-template-rows: 1fr 1fr 1fr; /*행 높이 비율*/
    grid-template-columns: 350px 4fr;
    grid-template-areas: 
    "left head"
    "left right"
    "left right";
}

.header{
    display: flex;
    grid-area: head;
    
    margin: 0 auto;
}

.left{
    display:grid;
    grid-area: left;
    background-color: rgb(249, 222, 222);
    border-right: solid;
    border-width: 1px;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "log"
    "block"
}

.right{
    display: flex;
    grid-area: right;
    background-color: lightcyan;
}

.login{
    display: grid;
    margin: 25px;
    padding:30px;
    background-color: rgb(255, 198, 235);
    width: 240px;
    height: 150px;

    grid-area:log;
    text-align:center;
}

.block_item{
    display: flex;
    grid-area: block;
    flex-direction: column;
    justify-content: flex-start;
}

.block{
    background-color: bisque;
    margin:25px;
}